[submodule "services/UserManagementService"]
	path = services/UserManagementService
	url = https://github.com/rrroy5640/UserManagementService.git
[submodule "services/ProjectManagementService"]
	path = services/ProjectManagementService
	url = https://github.com/rrroy5640/ProjectManagementService.git
[submodule "NotificationService"]
	path = NotificationService
	url = https://github.com/rrroy5640/NotificationService.git
